*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
background-image: linear-gradient(red,rgb(189, 98, 98));
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
#add-mes-form{
    width: 600px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #b4aaaa;
}
#input,#btn{
width: 100%;
height: 40px;
}
#input{
    margin-bottom: 15px;
    padding: 5px 10px;
    font-size: 15px;
    border: 1px solid #b4aaaa;
    outline:#b4aaaa;
}
#btn{
    background-color: rgb(243, 12, 12);
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom:10px ;
    color: white;
    font-size: 20px;
    opacity: 0.8;
    transition: 0.5s;
}
#btn:hover{
    opacity: 1;
}